{% comment %}
Composant carte réutilisable (atome Atomic Design).
Usage : {% include "game/_card.html" with card=some_card %}
Si `card` est vide/None, affiche le dos de la carte.
{% endcomment %}
{% if card %}
<div class="card-unit card-unit--revealed card-unit--{% if card.card.suit == 'HEARTS' or card.card.suit == 'DIAMONDS' %}red{% else %}black{% endif %}">
    <span class="card-unit__corner card-unit__corner--top">
        <span class="card-unit__rank">{{ card.card.get_rank_display }}</span>
        <span class="card-unit__pip">{% if card.card.suit == "HEARTS" %}&#9829;{% elif card.card.suit == "DIAMONDS" %}&#9830;{% elif card.card.suit == "CLUBS" %}&#9827;{% else %}&#9824;{% endif %}</span>
    </span>
    <span class="card-unit__watermark">{% if card.card.suit == "HEARTS" %}&#9829;{% elif card.card.suit == "DIAMONDS" %}&#9830;{% elif card.card.suit == "CLUBS" %}&#9827;{% else %}&#9824;{% endif %}</span>
    <span class="card-unit__corner card-unit__corner--bottom">
        <span class="card-unit__rank">{{ card.card.get_rank_display }}</span>
        <span class="card-unit__pip">{% if card.card.suit == "HEARTS" %}&#9829;{% elif card.card.suit == "DIAMONDS" %}&#9830;{% elif card.card.suit == "CLUBS" %}&#9827;{% else %}&#9824;{% endif %}</span>
    </span>
</div>
{% else %}
<div class="card-unit card-unit--face-down">
    <span class="card-unit__back-frame">
        <span class="card-unit__back-emblem">&#9824;</span>
    </span>
</div>
{% endif %}
